.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
}
.loader svg {
      width: 50vw;
      height: 50vh;
      margin-left: 24.666vw;
      margin-top: 16.666vh;
    }
  
  /*main-logo*/
  .ha-logo path,
  .ha-logo circle {
    fill: none;
    stroke: #CDA274;
    stroke-width: 0.125px;
    stroke-linejoin: round;
  }
  .ha-logo path.house,
  .ha-logo circle.house {
    stroke-linecap: round;
    stroke-width: 0.3px;
  }
  
  .loading.ha-logo circle {
    animation: nodes 6s linear infinite;
  }
  
  .loading.ha-logo .house {
    animation: house 6s ease infinite;
  }
  
  .loading.ha-logo .circut {
    animation: circut 6s cubic-bezier(0.7, 0.1, 0.1, 0.9) infinite;
  }
  
  @keyframes house {
    0% {
      stroke-dashoffset: -50;
      stroke-dasharray: 50 50;
    }
    45% {
      stroke-dashoffset: -100;
    }
    50% {
      stroke: #CDA274;
    }
    60% {
      stroke: white;
    }
    75% {
      stroke: #CDA274;
    }
    80% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: -130;
      stroke-dasharray: 50 50;
    }
  }
  @keyframes circut {
    0% {
      stroke-dasharray: 20 20;
      stroke-dashoffset: -20;
    }
    13% {
      stroke-dashoffset: -20;
    }
    50% {
      stroke-dashoffset: -40;
      stroke: #CDA274;
    }
    60% {
      stroke: white;
    }
    70% {
      stroke: #CDA274;
    }
    85% {
      stroke-dashoffset: -40;
    }
    100% {
      stroke-dashoffset: -60;
      stroke-dasharray: 20 20;
    }
  }
  @keyframes nodes {
    0% {
      stroke-dasharray: 0 4;
    }
    25% {
      stroke-dasharray: 0 4;
    }
    35% {
      stroke-dasharray: 4 0;
      stroke: #CDA274;
    }
    41% {
      fill: none;
    }
    42% {
      fill: #CDA274;
    }
    55% {
      fill: none;
      stroke: #CDA274;
    }
    65% {
      fill: white;
      stroke: white;
    }
    75% {
      stroke: #CDA274;
      fill: none;
      stroke-dasharray: 4 0;
    }
    85% {
      fill: #CDA274;
      stroke: #CDA274;
    }
    93% {
      fill: none;
      stroke-dasharray: 4 0;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -4;
      stroke-dasharray: 0 4;
    }
  }
  .ha-logo circle:nth-child(1n) {
    animation-delay: -0.054s;
  }
  
  .ha-logo circle:nth-child(2n) {
    animation-delay: -0.108s;
  }
  
  .ha-logo circle:nth-child(3n) {
    animation-delay: -0.162s;
  }
  
  .ha-logo circle:nth-child(4n) {
    animation-delay: -0.216s;
  }
  
  .ha-logo circle:nth-child(5n) {
    animation-delay: -0.27s;
  }
  
  .ha-logo circle:nth-child(6n) {
    animation-delay: -0.324s;
  }
  
  .ha-logo circle:nth-child(7n) {
    animation-delay: -0.378s;
  }
  
  .ha-logo circle:nth-child(8n) {
    animation-delay: -0.432s;
  }
  
  .ha-logo circle:nth-child(9n) {
    animation-delay: -0.486s;
  }
  
  .ha-logo circle:nth-child(10n) {
    animation-delay: -0.54s;
  }
  
  .ha-logo circle:nth-child(11n) {
    animation-delay: -0.594s;
  }
  
  .ha-logo circle:nth-child(12n) {
    animation-delay: -0.648s;
  }
  
  .ha-logo circle:nth-child(13n) {
    animation-delay: -0.702s;
  }
  
  .ha-logo circle:nth-child(14n) {
    animation-delay: -0.756s;
  }
  
  