@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap");

.font-jost {
  font-family: "Jost", sans-serif;
}

.font-serif {
  font-family: "serif", serif;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: white;
  color: black;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  font-size: 22px;
  background-image: url("/images/Line.svg");
  background-position: center;
}

.vacancy-image {
  background-image: url("/images/Dashboard1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* border-bottom-left-radius: 300px; */
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.three {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

/*=== Animations start here  ===*/

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN DOWN ===*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}



/*  lazy placement and background for demo */
.loader {
  /* background-color: #038fc7; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* background-image: radial-gradient(circle, #038fc7, #026b95); */
  background-size: cover;
  background-position: 50% 50%;

  svg {
    width: 50vw;
    height: 50vh;
    margin-left: 24.666vw;
    margin-top: 16.666vh;
  }

/*main-logo*/
.ha-logo path,
.ha-logo circle {
  fill: none;
  stroke: #CDA274;
  stroke-width: 0.125px;
  stroke-linejoin: round;
}
.ha-logo path.house,
.ha-logo circle.house {
  stroke-linecap: round;
  stroke-width: 0.3px;
}

.loading.ha-logo circle {
  animation: nodes 6s linear infinite;
}

.loading.ha-logo .house {
  animation: house 6s ease infinite;
}

.loading.ha-logo .circut {
  animation: circut 6s cubic-bezier(0.7, 0.1, 0.1, 0.9) infinite;
}

@keyframes house {
  0% {
    stroke-dashoffset: -50;
    stroke-dasharray: 50 50;
  }
  45% {
    stroke-dashoffset: -100;
  }
  50% {
    stroke: #CDA274;
  }
  60% {
    stroke: white;
  }
  75% {
    stroke: #CDA274;
  }
  80% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: -130;
    stroke-dasharray: 50 50;
  }
}
@keyframes circut {
  0% {
    stroke-dasharray: 20 20;
    stroke-dashoffset: -20;
  }
  13% {
    stroke-dashoffset: -20;
  }
  50% {
    stroke-dashoffset: -40;
    stroke: #CDA274;
  }
  60% {
    stroke: white;
  }
  70% {
    stroke: #CDA274;
  }
  85% {
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dashoffset: -60;
    stroke-dasharray: 20 20;
  }
}
@keyframes nodes {
  0% {
    stroke-dasharray: 0 4;
  }
  25% {
    stroke-dasharray: 0 4;
  }
  35% {
    stroke-dasharray: 4 0;
    stroke: #CDA274;
  }
  41% {
    fill: none;
  }
  42% {
    fill: #CDA274;
  }
  55% {
    fill: none;
    stroke: #CDA274;
  }
  65% {
    fill: white;
    stroke: white;
  }
  75% {
    stroke: #CDA274;
    fill: none;
    stroke-dasharray: 4 0;
  }
  85% {
    fill: #CDA274;
    stroke: #CDA274;
  }
  93% {
    fill: none;
    stroke-dasharray: 4 0;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -4;
    stroke-dasharray: 0 4;
  }
}
.ha-logo circle:nth-child(1n) {
  animation-delay: -0.054s;
}

.ha-logo circle:nth-child(2n) {
  animation-delay: -0.108s;
}

.ha-logo circle:nth-child(3n) {
  animation-delay: -0.162s;
}

.ha-logo circle:nth-child(4n) {
  animation-delay: -0.216s;
}

.ha-logo circle:nth-child(5n) {
  animation-delay: -0.27s;
}

.ha-logo circle:nth-child(6n) {
  animation-delay: -0.324s;
}

.ha-logo circle:nth-child(7n) {
  animation-delay: -0.378s;
}

.ha-logo circle:nth-child(8n) {
  animation-delay: -0.432s;
}

.ha-logo circle:nth-child(9n) {
  animation-delay: -0.486s;
}

.ha-logo circle:nth-child(10n) {
  animation-delay: -0.54s;
}

.ha-logo circle:nth-child(11n) {
  animation-delay: -0.594s;
}

.ha-logo circle:nth-child(12n) {
  animation-delay: -0.648s;
}

.ha-logo circle:nth-child(13n) {
  animation-delay: -0.702s;
}

.ha-logo circle:nth-child(14n) {
  animation-delay: -0.756s;
}
}
